{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block content %}
    <!-- Page Header-->
        <header class="masthead" style="background-image: url('/media/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ object.title }}</h1>
                            <h2 class="subheading">{{ object.subtitle }}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{ object.created_by }}</a>
                                on {{ object.create_date }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <div class="card my-5 py-4 text=center">
        <div>
        <a href="{% url 'blogapp:blog_post_list' %}" class="btn btn-primary"> Back to list </a> 
        {% if user.is_authenticated %}

        <a href="{% url 'blogapp:blog_edit_post' object.slug %}" class="btn btn-primary"> Edit post </a>
        <a href="{% url 'blogapp:blog_delete_post' object.slug %}" class="btn btn-danger"> Delete post </a>
        
        {% endif %}
        </div>
    </div>
    <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                            {{ object.body | linebreaks}}
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
    

{% endblock %}